<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat's blog</title>
</head>
<body>
        <div>
            <h1><a href="/">Cat Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first mouse</a></h2>
            <p>yeth hello</p>
<p>very much to see you today</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>i eated a stirng</p>
        </div>
    </body>
</html>